/*medias queries para el logo*/
@media(max-width:600px){
	#logo1{
		height:auto;
		width: 100%;
		margin-top:200px;
		position: relative;
	}

	.logop{
		height: auto;
		width: 54px;
		bottom: 9px;
		top: -9px;
	}

	.a1{
		height: auto;
		width: 85px;
	}

	.fa-globe{
		position: relative;
		left: 33px;
		top: 0;
	};

	.todo{
		margin-top:-75px;
		width: 100%;
	}

	div .caja-3 {
		width: 102%;
	}

	.perfil1 {
		width: 100%;
	}
};

@media(min-width:600px){
	#logo1{
		height:auto;
		width:50%;
	}

	.todo {
		width: 100%;
	}

	.caja-3 {
	width:101%;

	}
};