* {
  margin: 0;
  padding: 0;
}

#splashscreen {
  position:absolute;
  width: 100%;
  min-width: 100%
  min-height: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#ff7fda, #560331);
  background: -moz-linear-gradient(#ff7fda, #560331);
  background: -o-linear-gradient(#ff7fda, #560331);
  z-index:1005;
  text-align:center;
  padding-top:230px;
  font-size:20px; font-family:Arial;
}

.container-fluid {
  padding-right:0px;
  padding-left:0px;
};

#logo1 {
  width: 400px;
  height: auto;
  text-align: center;
}

#info {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
}

#info1 {
  width: 100%;
  height: auto;
  top: 4px;
  padding: 10px;
  border: 1px solid;
  margin-top: 11px;
  left: 3px;
}

.info2 {
  text-align: center;
}

.fotousuario {
  width: 100px;
  left: 40%;
  position: relative;
}

#foot {
  width: 100%;
  text-align: center;
  background-color: #95dbcc;
  border-style: none;
}

#foot1 {
  width: 100%;
  text-align: center;
  background-color: #95dbcc;
  border-style: none;
  top: 0px;
  left: -9px;
}

.logop {
  height: auto;
  width: 68px;
  position: relative;
  top: 40px;
}

.barra {
  background-color: #eee;
  width: 100%;
}

.navbar-toggle {
  top: 49px;
  color: green;
}

.caja-3 {
  height:400px;
  width: 100%;
}

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  top: 0px;
  left: 0px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  top: 0px;
  left: 0px;
}

.perfil {
  width:100%;
  height: 60vh;
  object-fit: cover;
  margin-top: -20px;
  margin-left: -15px;
  background-position: 30% 72%;
  position: relative;
}

#fondo {
  background-image: url(../img/niña2.jpg);
}

#fondo2 {
  background-image: url(../img/fotodes.jpg);
}

.modal fade perfil {
  background-color: red;
}

.nombreusuario {
  color: #fff;
  font-size: 41px;
  position: absolute;
  top: 321px;
  left: 483px;
}

.txt textarea {
  overflow: auto;
  width: 280px;
  margin-left: 10px;
}

#cont div {
  width: 280px;
  height: auto;
  margin-top: 21px;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  margin-left: 10px;
}

.cont2 {
  margin-top: 230px;
  text-align: left;
  bottom: 200px;
  margin-right: 70px;
  background-color: transparent;
  position: relative;
}

button {
background-color: #CAA8C2;
  color: #fff;
  padding: 8px;
  /* width: 65px; */
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  margin-top: 10px;
  border-style: none;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 11px;
  position: relative;
  top: -148px;
}

.fa-plus{
  margin-top: 18px;
  font-size: 30px;
}

.fa-star:before {
  content: "\f005";
  font-size: 30px;
  position: relative;
  top: -28px;
  color: yellow;
}

#usuario {
  height: 50%;
  width: 50%;
  border-radius: 16px;
}

.btnp {
  top: -389px;
}

.btnp2 {
  top: -340px;
}

.colorp {
  color: #fff;
  text-align: left;
}

.container-fluid>.navbar-header {
  margin-top: -51px;
}

.todo {
  background-image: url(../img/I5nl1Fn.jpg);
  width: 100%;
  margin-top: -32px;
}

.post {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.modal-backdrop {
  position: absolute !important;
  z-index: 1;
}

.infor {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  top: 4px;
  left: 17px;
  border: 1px solid;
}

#footr {
  background-color: #95dbcc;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  top: -8px;
  left: -8px;
}

.cajaposteo {
  width: 280px;
  position: relative;
  height: auto;
  margin-top: 5px;
  top: 146px;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  margin-left: 10px;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  position: relative;
  top: -146px;
  width: 285px;
  left: 10px;
}

strong {
  font-weight: 700;
  position: relative;
  top: -157px;
}

.a1 {
  border-radius: 100px;
  width: 100px;
  height: auto;
  margin-left: 17px;
}

.amigo {
  width: 100%;
  height: auto;
  border: 1px solid gray;
  margin-top: -26px;
}

.fa-star-o:before {
  content: "\f005";
  color: yellow;
  font-size: 25px;
  text-align: right;
  margin-left: 354px;
}

.fa-check-square-o:before {
  content: "\f046";
  color: white;
  font-size: 19px;
}

.ac a {
  text-align: right;
}

.cblue {
  color: #5d9fba;
}

.cblue1 {
  color: #5d9fba;
  margin-left: 22px;
}

.p1 {
  margin-left: 21px;
}

.actual h3 {
  margin-left: 17px;
}

h3 {
  font-size: 24px;
  text-align: center;
}

.fotos{
  border: 1px solid red;
  width: 391px;
  background-image: url(../img/fotodes.jpg);
  width: 100%;
  object-fit: cover;
  border: 1px solid gray;
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-left: 8px;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
  top: -13px;
}

.fa-globe:before {
  content: "\f0ac";
  position: relative;
  top: 23px;
  left: -15px;
  font-size: 18px;
}

modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: -1.5;
}

#btnx {
  margin-left: 61px;
  top: -228px;
}

#btnfotos {
  top: -5px;
  background-color: #CAA8C2;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  top: 0px;
  left: 0px;
}

.panel-success>.panel-heading {
  background-image: -webkit-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);
  background-image: -o-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#d0e9c6));
  background-image: linear-gradient(to bottom,#fcf8e3 0,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
  background-repeat: repeat-x;
}

#fotoc {
  background-color: #edd7e7;
  background-repeat: no-repeat;
  object-fit: cover;
}
.lineañadir{
margin-left:550px;
font-size: 20px;
padding: 15px;
margin-bottom: 15px;
}
.mas{
  margin-left: 10px;
}
.contactito{
  border: 2px solid gray;
  border-radius: 8px;
  width: 300px;
  height: auto;
  padding: 15px;
  padding-right: 207px;
  padding-bottom: 69px;
  background-color: #fcf7f7;
}

.fa-trash:before {
  content: "\f1f8";
  font-size: 25px;
  position: relative;
  left: 188px;
  top: 58px;
}

.contacto{
margin-top: 70px;
}

.titcont {
  text-align: left;
}

#add {
  top: -5px;
  left: -502px;
}

.añadir {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  width: 333px;
}